/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/

body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Style the sections */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f4f4f4;
    border-radius: 8px;
}

/* Style the form */
form {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 25px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}



/* Style the video and audio sections */
video, audio {
    width: 30%;
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
